<div class="search-area">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar tarefa..." />
  <button (click)="searchTasks()" class="search-button" aria-label="Buscar">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#333" viewBox="0 0 24 24">
      <path d="M21.71 20.29l-3.387-3.387A8.966 8.966 0 0019 11a9 9 0 10-9 9 8.966 8.966 0 005.903-2.323l3.387 3.387a1 1 0 001.414-1.414zM4 11a7 7 0 1114 0 7 7 0 01-14 0z"/>
    </svg>
  </button>
</div>
  
  <div class="task-form">
    <input type="text" [(ngModel)]="newTask.title" placeholder="Título da tarefa" />
    <input type="text" [(ngModel)]="newTask.description" placeholder="Descrição" />
    <select [(ngModel)]="newTask.priority">
      <option value="Alta">Alta</option>
      <option value="Média">Média</option>
      <option value="Baixa">Baixa</option>
    </select>
    <button (click)="addTask()">Criar Tarefa</button>
  </div>
  
  
  <div class="kanban-board">
    <div
      class="kanban-column"
      *ngFor="let column of columns"
      [ngClass]="{
        'aberto': column.status === 'Aberto',
        'andamento': column.status === 'Andamento',
        'concluido': column.status === 'Concluido',
        'done': column.status === 'Done'
      }"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, column.status)"
    >
    <h3> {{ column.title }} ({{ countTasks(column.status) }})</h3>

    <div class="card-list">
      <div class="kanban-card"
        *ngFor="let task of getTasksByStatus(column.status)"
        draggable="true"
        (dragstart)="onDragStart(task)">>
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>
        <span class="priority">{{ task.priority }}</span>
      </div>
    </div>

    </div>
  </div>
  