/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fcf1e3; /* Cor pastel suave */
    padding: 20px;
    font-family: 'Poppins', sans-serif;
  }